<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>daily_reader.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>21</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0BE2BC350B2400CF3AA49C7B5FCD620775B3A498</string>
				<key>dateExpires</key>
				<string>2025/10/9</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0BE2BC350B2400CF3AA49C7B5FCD620775B3A498</string>
						<key>dateExpires</key>
						<string>2025/10/9</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BVNS39X4QM</string>
						<key>name</key>
						<string>Wuhan Light Efficiency Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0BE2BC350B2400CF3AA49C7B5FCD620775B3A498</string>
						<key>dateExpires</key>
						<string>2025/10/9</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BVNS39X4QM</string>
						<key>name</key>
						<string>Wuhan Light Efficiency Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0BE2BC350B2400CF3AA49C7B5FCD620775B3A498</string>
						<key>dateExpires</key>
						<string>2025/10/9</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BVNS39X4QM</string>
						<key>name</key>
						<string>Wuhan Light Efficiency Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>3.7.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0BE2BC350B2400CF3AA49C7B5FCD620775B3A498</string>
						<key>dateExpires</key>
						<string>2025/10/9</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>audio_session.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BVNS39X4QM</string>
						<key>name</key>
						<string>Wuhan Light Efficiency Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0BE2BC350B2400CF3AA49C7B5FCD620775B3A498</string>
						<key>dateExpires</key>
						<string>2025/10/9</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BVNS39X4QM</string>
						<key>name</key>
						<string>Wuhan Light Efficiency Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0BE2BC350B2400CF3AA49C7B5FCD620775B3A498</string>
						<key>dateExpires</key>
						<string>2025/10/9</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>device_info_plus.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BVNS39X4QM</string>
						<key>name</key>
						<string>Wuhan Light Efficiency Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0BE2BC350B2400CF3AA49C7B5FCD620775B3A498</string>
						<key>dateExpires</key>
						<string>2025/10/9</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BVNS39X4QM</string>
						<key>name</key>
						<string>Wuhan Light Efficiency Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0BE2BC350B2400CF3AA49C7B5FCD620775B3A498</string>
						<key>dateExpires</key>
						<string>2025/10/9</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>just_audio.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BVNS39X4QM</string>
						<key>name</key>
						<string>Wuhan Light Efficiency Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0BE2BC350B2400CF3AA49C7B5FCD620775B3A498</string>
						<key>dateExpires</key>
						<string>2025/10/9</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BVNS39X4QM</string>
						<key>name</key>
						<string>Wuhan Light Efficiency Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0BE2BC350B2400CF3AA49C7B5FCD620775B3A498</string>
						<key>dateExpires</key>
						<string>2025/10/9</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BVNS39X4QM</string>
						<key>name</key>
						<string>Wuhan Light Efficiency Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0BE2BC350B2400CF3AA49C7B5FCD620775B3A498</string>
						<key>dateExpires</key>
						<string>2025/10/9</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BVNS39X4QM</string>
						<key>name</key>
						<string>Wuhan Light Efficiency Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0BE2BC350B2400CF3AA49C7B5FCD620775B3A498</string>
						<key>dateExpires</key>
						<string>2025/10/9</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BVNS39X4QM</string>
						<key>name</key>
						<string>Wuhan Light Efficiency Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>BVNS39X4QM.com.lightefficiency.dailyread</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>BVNS39X4QM</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2acb24f7-2fd3-4c83-ad65-b9bd3151514b</string>
				<key>dateExpires</key>
				<string>2025/10/9</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.lightefficiency.dailyread</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>BVNS39X4QM</string>
				<key>name</key>
				<string>Wuhan Light Efficiency Technology Co., Ltd.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.6.4</string>
		</dict>
	</array>
</dict>
</plist>
